#adminChooseLeagueRadioButton{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    background-color: aquamarine;
}

#adminMathCard, #adminSetCovidCard, #deleteMatch{
    overflow: scroll;
}

.matchList{
    white-space: nowrap;
    margin: 2px;
    
}
#maintMatchContainter{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.deleteBtn
{
    height: 25px;
    padding: 1px;

}