.wrapper{
    /* min-height: 100%; */
display: flex;
align-items: center;
width: 100%;
}
.carousel{
max-width: 1600px;
margin: auto;
padding: 0 30px;
}
.carousel .card{
color: #fff;
text-align: center;
padding:10px;
margin: 20px 10px;
line-height: 10px;
font-size: 30px;
font-weight: 600;
border-radius: 10px;
box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
.carousel .card-0{
    background: #12c50c;
    }
.carousel .card-1{
background: #c50c12;
}
.carousel .card-2{
background: #0072bc;
}
.carousel .card-3{
background: #39b54a;
}
.carousel .card-4{
background: #f26522;
}
.carousel .card-5{
background: #68c775;
}
.carousel .card-6{
background: #7faa1b;
}
.carousel .card-7{
background: #d8a1a6;
}
.carousel .card-8{
background: #ffbb00;
}
.carousel .card-9{
background: #9dff00;
}
.carousel .card-10{
background: #53ff03;
}
.carousel .card-11{
background: #bb36b6;
}
.owl-dots{
text-align: center;
margin-top: 40px;
}
.owl-dot{
height: 15px;
width: 45px;
margin: 0 5px;
outline: none;
border-radius: 14px;
border: 2px solid #0072bc!important;
box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
background: #0072bc!important;
}

.locationTime{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #0c0d0d;
    border-radius: 10px;

}

.MiniLocationTime{
    font-size: small;
    text-align: center;
    line-height: 20px;
}
/* CSS */

/* CSS */
.reservation_button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 10px;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .reservation_button {
    padding: 19px 32px;
  }
}

.reservation_button:before,
.reservation_button:after {
  border-radius: 80px;
}

.reservation_button:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.reservation_button:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.reservation_button:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.reservation_button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.reservation_button:active:not(:disabled) {
  color: #ccc;
}

.reservation_button:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.reservation_button:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.reservation_button:disabled {
  cursor: default;
  opacity: .24;
}