header {
	/* background: url('http://www.autodatz.com/wp-content/uploads/2017/05/Old-Car-Wallpapers-Hd-36-with-Old-Car-Wallpapers-Hd.jpg'); */
	text-align: center;
	width: 100%;
	height: 200px;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 20px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
}

header #exampleModalHeader{
	color: #333;
}

header h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	margin-bottom: 10px;
}

header h3, header p, header #date {
	font-family: 'Dancing Scripts', cursive;
    font-size: 20px;
	margin-bottom: 20px;
}

#homePage, #cancelModelBtn {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-left: 50px; 
	margin-right: 50px; 
	box-shadow: 0 3px 20px 0 #0000003b;
}
#homePage:hover, #cancelModelBtn{
	cursor: pointer;
}