
.containerHomePage .card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 450px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}
.containerHomePage .row{
  justify-content: center;
  margin: 50px;
}

.containerHomePage .card-title {
  margin-bottom: .5rem;
  background-color: #164dffc9;
  padding: 5px;
  border-radius: 4pc;
  border-style: solid;
}

.containerHomePage .col-sm{
   min-width:300px;
  max-width:300px; 
  width: 300px;
}
@media (max-width: 768px) {
  .containerHomePage .card {
    min-height: 350px;
 }
}
@media (max-width: 420px) {
  .containerHomePage .card {
    min-height: 300px;
 }
}
.containerHomePage  .card.card-has-bg {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center center;
}
.containerHomePage  .card.card-has-bg:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  /* -webkit-filter: grayscale(1);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%); */
}
.containerHomePage  .card.card-has-bg:hover {
  transform: scale(0.98);
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
  background-size: 130%;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.containerHomePage  .card.card-has-bg:hover .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  /* background: #234f6d;
  background: linear-gradient(0deg, rgba(7, 95, 158, 0.5) 0%, rgb(7, 109, 182) 100%); */
}
.containerHomePage .card .card-footer {
  background: none;
  border-top: none;
}
.containerHomePage .card .card-footer .media img {
  border: solid 3px rgba(255, 255, 255, 0.3);
}
.containerHomePage  .card .card-meta {
  color: #26bd75;
}
.containerHomePage  .card .card-body {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.containerHomePage  .card:hover {
  cursor: pointer;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.containerHomePage .card:hover .card-body {
  margin-top: 30px;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.containerHomePage .card .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  /* background: #234f6d;
  background: linear-gradient(0deg, rgba(35, 79, 109, 0.3785889355742297) 0%, rgba(69, 95, 113, 1) 100%); */
}
