@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.paymentContainer * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.paymentContainer .card {
    max-width: 500px;
    margin: auto;
    color: black;
    border-radius: 20 px;
}

.paymentContainer p {
    margin: 0px;
}

.paymentContainerr .h8 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.paymentContainer .btn.btn-primary {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    border: none;
    transition: 0.5s;
    background-size: 200% auto;

}


.paymentContainer .btn.btn.btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}



.paymentContainer .btn.btn-primary:hover .fas.fa-arrow-right {
    transform: translate(15px);
    transition: transform 0.2s ease-in;
}

.paymentContainer .form-control {
    color: white;
    background-color: #223C60;
    border: 2px solid transparent;
    height: 60px;
    padding-left: 20px;
    vertical-align: middle;
}

.paymentContainer .form-control:focus {
    color: white;
    background-color: #0C4160;
    border: 2px solid #2d4dda;
    box-shadow: none;
}

.paymentContainer .text {
    font-size: 14px;
    font-weight: 600;
}

.paymentContainer ::placeholder {
    font-size: 14px;
    font-weight: 600;
}