#map{
    height: 580px;
    width:50%;
    border-style: solid;
    border-color: brown;
    border-radius: 30px;
    background-color: #3e0070db;
}

#tooltip{
    position:absolute;

    z-index: 2000;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    visibility: hidden;
    width:fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 5px;

    transition: 0.2s;
    animation: pulse 1s infinite;


}


#seatMapContainer{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-top: 50px;

}
.seatsInfoCard{
    background-color: #1ed7a8e0;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }


  .course-info{
    background-image: url(
"../img/basket.jpg");
    background-size:     cover;                      /* <------ */
    /* background-repeat:   no-repeat; */
    background-position: center; 
}


#transToTickt{
    overflow: auto;
    height:580px ;
  }


  .course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 10px;
	overflow: hidden;
	width: 100%;
    font-size: 15px;
}

.course h6 {
    font-size: 15px;
	/* opacity: 0.6; */
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: #67ff00ba;
    color: black;
}

/* .course h2 {
    font-size: 15px;
	letter-spacing: 1px;
	margin: 10px 0;
} */
.course p {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 13px;
/* opacity: 0.6; */
margin: 0;
letter-spacing: 1px;
text-transform: uppercase;
color: black;
}
.course-preview {
	background-color: #2A265F;
	color: #fff;
	padding: 3px;
	width: 250px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 3px;
	text-decoration: none;
}

.course-info {
	padding: 3px;
	position: relative;
	width: 100%;
	    background-color: #4eefdd9c;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #2A265F;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

